{
    "extends": ["airbnb-base"],
    "env": {
      "node": true,
      "es6": true
    },
    "rules": {
      "import/extensions": "off"
    },
  "parserOptions": {
    "ecmaVersion": 2020
  }
  }
